:root {
    /* bacround-color */
    --backroundcolor-main: #e5e5e5;
    --backroundcolor-secondari: #2f303a;
    --accent-color: #2196f3;
    --backgroundcolor-header: #ffffff;
    --background-color-btn: #f5f4fa;

    /* font-color */
    --fontcolor-main: #757575;
    --fontcolor-secondary: #212121;
    --fontcolor: #ffffff;
}


body {
    background-color: var(--backgroundcolor-header);
    font-family: Roboto, san-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--fontcolor-main);

}

/* reset styles */
h1,
h2,
h3,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0px;
}

/* div container styles */
.container {
    display: block;
    outline: 2px solid #2196f3;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* header */
.header {
    background-color: var(--backgroundcolor-header);
}

/* logo style */
.logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fontcolor-secondary);
}

.logo-web {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.logo:hover,
.logo:focus .logo-web:hover,
.logo-web:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
    text-decoration: none;
}

/* header flex */
.header-nav {
    display: flex;
}

.header-nav .item:not(:last-child) {
    margin-right: 50px;
}

/* .container .section {
    justify-content: space-between;
} */

.list-link {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fontcolor-secondary);
}

.list-link:hover,
.list-link:focus {
    color: var(--accent-color);
}

.site-nav {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fontcolor-main);
}

.site-nav:hover,
.site-nav:focus {
    color: var(--accent-color);
}

/* section hero */
.hero {
    background-color: var(--backroundcolor-secondari);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    color: var(--fontcolor);
}

/* section-peculiarities */
.peculiarities {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    vertical-align: top;
    color: var(--fontcolor-secondary);
    letter-spacing: 0.03em;
    text-align: left;
    background-color: var(--backgroundcolor-header);
}

.section-peculiarities {
    color: var(--fontcolor-main);
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-weight: 400;
    text-transform: none;
}

/* < !-- What are we doing --> */
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--fontcolor-secondary);
}

/* team */
.team {
    background-color: var(--backroundcolor-main);
}

.team-headlines {
    font-style: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--fontcolor-secondary);
}

.team-card {
    background-color: var(--backgroundcolor-header);
}

.tc-head {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.2;
    color: var(--fontcolor-secondary)
}

.team-skill {
    color: var(--fontcolor-main);
    font-size: 16px;
    line-height: 1.2;
}

/* Portfolio card  */
.card-link {
    background-color: var(--backgroundcolor-header);
}

.card-name {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--fontcolor-secondary);
    letter-spacing: 0.06em;
}

.card-text {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.9;
    color: var(--fontcolor-main);
}

/* buttons */
.button {
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--fontcolor-secondary);
    background-color: var(--background-color-btn);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--fontcolor);
}

.button-hero {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--fontcolor);
    background-color: #2196f3;
    border: none;
}

.button-hero:hover,
.button-hero:focus {
    background-color: var(--background-color-btn);
    color: var(--fontcolor-secondary);
}

/* footer */
.footer {
    background-color: var(--backroundcolor-secondari);
}

.footer-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #ffffff;
}

.footer-logoweb {
    color: var(--accent-color);
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.footer-logoweb:hover,
.footer-logoweb:focus {
    color: var(--accent-color);
}

.footer-logo:hover,
.footer-logo:focus {
    color: var(--accent-color);
}

.footer-nav {
    font-family: Roboto;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.footer-gmaps {
    font-family: inherit;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fontcolor);
    list-style: none;
    font-style: normal;
}

.footer-nav:hover,
.footer-nav:focus {
    color: var(--accent-color);
}

.footer-gmaps:hover,
.footer-gmaps:focus {
    color: var(--accent-color);
}